.sidebar, .post-date {
  display: none !important;
}

.content {
  margin: 0 auto;
  width: 100%;
  float: none;
  display: initial;
}

.container {
  width: 100%;
  float: none;
  display: initial;
  padding-left:  1rem;
  padding-right: 1rem;
  margin: 0 auto;
}
code.has-jax {font: inherit;
  font-size: 100%;
  background: inherit;
  border: inherit;
  color: #515151;}